/*
- 头部和底部的黑色区域始终是100%宽
- 页面右侧部分为固定宽度，左侧保持与浏览器窗口变化同步自适应变化
- 左侧的各个模块里面的内容宽度跟随左侧整体宽度同步自适应变化
- 10张图片需要永远都完整展现，所以会随着宽度变窄，从两行变成三行甚至更多，也有可能随着宽度变宽，变成一行
*/
body,h1,h2,h3,h4,h5,h6,p,ol,ul,li{margin:0;padding:0}

.clear{zoom:1;}
.clear:after{content:'';display: block;clear:both;}
.fl{float:left;}
.fr{float:right;}

#nav{width:100%;background: url(./../img/logo.jpg) #333 no-repeat 30px 0;height:60px;}
#nav ul{padding-right:20px;}
#nav ul li{line-height: 60px;float: left;margin-left:35px;color:#fff;cursor: pointer;}

.sidebar{width:300px;}

.main{margin-right:320px;}